<!--  Application:    Annerkennung AI Cockpit                               -->
<!--  Module:         templates.admin_filetypes                              -->
<!--  Author:         Heiko Matamaru, IGS                                    -->
<!--  Version:        0.0.1                                                 -->

{% extends 'base.html' %}

{% block title %}Filetype Management - Admin Dashboard{% endblock %}
{% block meta_description %}Create and manage filetypes for the Anerkennung AI Cockpit.{% endblock %}

{% block content %}
In development...
{% endblock %}