<!--  Application:    Annerkennung AI Cockpit                   -->
<!--  Module:         templates.admin_dashboard_systemlogs      -->
<!--  Author:         Heiko Matamaru, IGS                       -->
<!--  Version:        0.0.1                                     -->

{% extends 'base.html' %}

    
{% block title %} System Logs - Admin Dashboard {% endblock %}
{% block meta_description %} View and manage system logs for the Anerkennung AI Cockpit. {% endblock %}


{% block content %}
<p>Information about system logs is currently being developed.</p>


{% endblock %}