<!--  Application:    Anerkennung AI Cockpit                                -->
<!--  Module:         templates.candidate_documentmanagement                -->
<!--  Author:         Heiko Matamaru, IGS                                   -->
<!--  Version:        0.0.1                                                 -->

{% extends 'base.html' %}

    
{% block title %} Document Management - Candidate Dashboard {% endblock %}
{% block meta_description %} Manage documents for the Anerkennung AI Cockpit. {% endblock %}
{% block content %}
<!-- Info in progress -->
 <p>Information about document management is currently being developed.</p>


{% endblock %}