<!--  Application:    Anerkennung AI Cockpit                                -->
<!--  Module:         templates.candidate_documentdetails                   -->
<!--  Author:         Heiko Matamaru, IGS                                   -->
<!--  Version:        0.0.1                                                 -->
{% extends 'base.html' %}

{% block title %} Document Details {% endblock %}

{% block content %}
  <div class="container py-4">
    <h5>Document Details</h5>

    <dl class="row">
      <dt class="col-sm-3">Document Type</dt>
      <dd class="col-sm-9">{{ document.document_type_name }}</dd>

      <dt class="col-sm-3">File Name</dt>
      <dd class="col-sm-9">{{ document.filename }}</dd>

      <dt class="col-sm-3">File Path</dt>
      <dd class="col-sm-9">{{ document.filepath }}</dd>

      <dt class="col-sm-3">OCR Text</dt>
      <dd class="col-sm-9">{{ document.ocr_full_text }}</dd>

      <dt class="col-sm-3">Status</dt>
      <dd class="col-sm-9">{{ document.status_id }}</dd>
    </dl>

    <a href="{{ url_for('candidate.document_management') }}" class="btn btn-secondary">Back to Document Management</a>
  </div>
{% endblock %}
