<!--  Application:    Anerkennung AI Cockpit                                -->
<!--  Module:         templates.candidate_contactrecruiter                  -->
<!--  Author:         Heiko Matamaru, IGS                                   -->
<!--  Version:        0.0.1                                                 -->

{% extends 'base.html' %}

    
{% block title %} Contact Recruiter - Candidate Dashboard {% endblock %}
{% block meta_description %} Contact recruiters for the Anerkennung AI Cockpit. {% endblock %}
{% block content %}
<!-- Info in progress -->
In development...


{% endblock %}