<!--  Application:    Anerkennung AI Cockpit                                -->
<!--  Module:         templates.candidate_applicationmanagement            -->
<!--  Author:         Heiko Matamaru, IGS                                   -->
<!--  Version:        0.0.1                                                 -->

{% extends 'base.html' %}

    
{% block title %} Application Management - Candidate Dashboard {% endblock %}
{% block meta_description %} Manage applications for the Anerkennung AI Cockpit. {% endblock %}

{% block content %}
<!-- Info in progress -->
 <p>Information about application management is currently being developed.</p>


{% endblock %}