<!--  Application:    Anerkennung AI Cockpit                                -->
<!--  Module:         templates.recruiter_dashboard_contactrecruiters       -->
<!--  Author:         Heiko Matamaru, IGS                                   -->
<!--  Version:        0.0.1                                                 -->

{% extends 'base.html' %}

    
{% block title %} Contact Recruiters - Recruiter Dashboard {% endblock %}
{% block meta_description %} Contact recruiters for the Anerkennung AI Cockpit. {% endblock %}  

{% block content %}
<p>Information about contacting recruiters is currently being developed.</p>


{% endblock %}