<!--  Application:    Anerkennung AI Cockpit                           -->
<!--  Module:         templates.recruiter_dashboard_contactadmin       -->
<!--  Author:         Heiko Matamaru, IGS                              -->
<!--  Version:        0.0.1                                            -->

{% extends 'base.html' %}

    
{% block title %} Contact Admin - Recruiter Dashboard {% endblock %}
{% block meta_description %} Contact admin for the Anerkennung AI Cockpit. {% endblock %}


{% block content %}
<p>Information about contacting admin is currently being developed.</p>


{% endblock %}