<!--  Application:    Anerkennung AI Cockpit                                -->
<!--  Module:         templates.recruiter_dashboard_candidatemanagement     -->
<!--  Author:         Heiko Matamaru, IGS                                   -->
<!--  Version:        0.0.1                                                 -->

{% extends 'base.html' %}

    
{% block title %} Candidate Management - Recruiter Dashboard {% endblock %}
{% block meta_description %} Manage candidates for the Anerkennung AI Cockpit. {% endblock %}

{% block content %}
<!-- Info in progress -->
 <p>Information about candidate management is currently being developed.</p>


{% endblock %}